<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.permacore.iam.mapper.SysJwtVersionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.permacore.iam.domain.entity.SysJwtVersionEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="jwt_version" property="jwtVersion" />
        <result column="expire_time" property="expireTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, jwt_version, expire_time, create_time
    </sql>

</mapper>
